<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Security Community - Simple page</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link th:href="@{css/jumbotron-narrow.css}" href="../static/css/jumbotron-narrow.css" rel="stylesheet" />
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="reload">Reload</a></li>
            <li role="presentation"><a href="protect">Protect</a></li>
            <li role="presentation"><a href="reset">Reset All</a></li>
            <li role="presentation"><a href="mailto:DL PL TS-CSD-SECURITY-COMMUNITY">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Security Community @ NSC</h3>
      </div>

      <div class="jumbotron">
        <h1>WARNING!</h1>
        <p class="lead">I see you are about to click a button you really shouldn't 
        (unless you know exactly what you are doing and are well aware of the consequences).</p>
        <p><a class="btn btn-lg btn-warning" href="break" role="button">Do something terrible</a></p>
      </div>

	  <div class="panel panel-default">
		<div class="panel-heading">Application status</div>
		<div class="panel-body">
			<div class="alert alert-success" th:if="${!break_flag}">
			  <strong>OK</strong>: Everything looks good so far.
			</div>
			<div class="alert alert-danger" th:if="${break_flag}">
			  <strong>Danger!</strong> Something bad happened.
			</div>
			<div class="alert alert-success" th:if="${protect_flag}">
			  <strong>Protection on</strong> X-Frame-Options:DENY header present.
			</div>
		</div>
	  </div>

	  <a href="clickjacking">Clickjacking example</a>

	  <footer class="footer">
        <p>&copy; 2016 Security Community @ NSC</p>
      </footer>

    </div> <!-- /container -->


  </body>
</html>
